* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.caesar-dressing-regular {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.image {
  width: 300px;
  min-height: 100vh;
  background-image: url("image.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image div {
  background-color: rgba(114, 114, 114, 0.542);
  width: 300px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

p {
  margin: 5px 30px 15px;
  font-weight: 600;
  font-size: 14px;
}

form {
  background-color: white;
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

form > div {
  display: flex;
}

form > div > div {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

legend {
  font-weight: 600;
}

label {
  margin-top: 15px;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

input {
  width: 150px;
  padding: 3px 5px;
  font-size: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 1px solid rgb(70, 68, 226);
  box-shadow: rgba(46, 54, 159, 0.397) 1px 1px 5px;
}

button {
  background-color: rgb(159, 78, 46);
  color: white;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-align: center;
  box-shadow: rgba(174, 174, 174, 0.597) 2px 2px 2px;
  border: none;
  border-radius: 5px;
  padding: 7px 30px;
  margin: 20px 30px 0px;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover {
  background-color: rgb(120, 60, 35);
}

a {
  color: rgb(159, 78, 46);
  text-decoration: none;
  font-weight: 700;
}

.login {
  font-size: 10px;
  margin-top: 15px;
}

.pass {
  border: 1px solid rgba(214, 58, 58, 0.752);
}
